body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url("./images/background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#title {
  text-align: center;
  margin-top: 20px; 
}

#player {
  text-align: center;
  margin-top: 30px;
  font-size: large;
}

#select-difficulty-screen {
  text-align: center;
  margin-top: 40px; 
}

#top-scores-board {
  text-align: center;
  margin-top: 40px; 
  width: 40%; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #1b73ba;
  color: white;
}

#js-game-screen {
  display: none;
  text-align: center;
  margin-top: 50px;
}

.board {
  display: grid;
  grid-gap: 12px;
  margin-top: 20px;
}

.card {
  width: 115px;
  height: 115px;
  background-color: #1b73ba;
  color: white;
  font-size: 24px;
  display: flex;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card.revealed {
  background-color: #ffffff00;
  cursor: default;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1b73ba;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e34f26;        
}

.hidden {
  display: none;
}